// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   27/09/2016 5:38 PM
// @Email:  alex@yuion.net
// @Filename: advanced.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 09/02/2017 1:13 PM

@import 'ui-vars';

div.complex {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    text-align: center;
    & .start-overlay {
        position: fixed;
        top: 0; left: 0;
        right: 0; bottom: 0;
        background-color: $primary-color;
        color: #FFFFFF;
        cursor: pointer;
        & .start-block {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            & h2 {
                font-size: 2.5em;
                margin: 0;
            }
            & p {
                font-size: 1.5em;
            }
        }
    }
    & .topbar {
        position: absolute;
        top: 0; height: 4.0em;
        left: 0; right: 0;
        background-color: $primary-color;
        color: #FFFFFF;
        display: flex;
        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
        user-select: none;
        & .logo {
            height: 3.0em;
            width: 8.0em;
            margin: 0.5em;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        & .heading {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
        }
        & .options {
            flex-grow: 1;
            text-align: right;
            font-size: 2.0em;
            padding: 0.35em;
            & .material-icons{
                cursor: pointer;
                &:hover {
                    color: rgba(255,255,255,0.54);
                }
            }
        }
    }

    & .device-menu {
        position: absolute;
        top: -100%;
        right: 0;
        background-color: #FFFFFF;
        border-radius: 0 0 0.1em 0.1em;
        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
        display: inline-block;
        text-align: left;
        overflow: auto;
        & ul {
            list-style: none;
            padding: 0.25em 0;
            margin: 0;
            font-size: 1.5em;
            & li {
                padding: 0.25em 1.0em;
                height: 2.0em;
                cursor: pointer;
                user-select: none;
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
                &:active {
                    background-color: rgba(0,0,0,0.2);
                    box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                    color: rgba(0,0,0,0.87);
                }
                & .material-icons {
                    font-size: 1.2em;
                }
                & strong {
                    position: relative;
                    top: -0.2em;
                }
            }
        }
    }

    & .main-body {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        padding-top: 4.0em;
        background-color: rgba(0,0,0,0.1);
        overflow: auto;
        & .content {
            padding: 1.5em;
            & .content-box {
                min-width: 20.0em;
                max-width: 100%;
                min-height: 18.0em;
                background-color: #FFFFFF;
                border-radius: 0.1em;
                box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                & .displays {
                    width: 100%;
                    border-top: 0.1em solid rgba(0,0,0,0.1);
                    min-height: 5.0em;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    //justify-content: center;
                    & .volume {
                        position: relative;
                        top: 0;
                        bottom: 0;
                        width: 4.0em;
                        border-right: 0.1em solid rgba(0,0,0,0.1);
                        & .icon {
                            font-size: 1.8em;
                            cursor: pointer;
                            &:hover {
                                color: rgba(0,0,0,0.54);
                            }
                        }
                        & .slider {
                            height: 8.0em;
                            width: 2.5em;
                            margin: auto;
                        }
                    }
                    & .display {
                        margin: 1.0em;
                        padding: 0.5em;
                        border-radius: 0.1em;
                        height: 9.0em;
                        width: 12.0em;
                        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                        & .monitor {
                            display: inline-block;
                            position: relative;
                            height: 6.666666em;
                            width: 10.666666em;
                            background-color: rgba(0,0,0,0.2);
                            border-radius: 0.3em;
                            overflow: hidden;
                            & .name {
                                position: absolute;
                                top: 0.5em;
                                right: 0.5em;
                                padding: 0.25em 0.5em;
                                font-size: 0.8em;
                                background-color: rgba(0,0,0,0.2);
                                border-radius: 0.1em;
                            }

                            & .error {
                                position: absolute;
                                top: 60%;
                                width: 100%;
                                transform: translateY(-50%);
                                background-color: #F44336;
                                padding: 0.25em;
                                box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                & .tab {
                    font-size: 1.5em;
                    width: 5.0em;
                    & .icon {
                        height: 1.1em;
                        font-size: 2.0em;
                    }
                }
                & .tab-ctnt {
                    max-width: 100%;
                    font-size: 1.2em;
                    text-align: left;
                    padding: 0.5em;
                    &.flex {
                        display: flex;
                        &.phone {
                            align-items: center;
                            & h3 {
                                margin-bottom: 0;
                            }
                        }
                        & .item {
                            flex-grow: 1;
                            text-align: center;
                            padding: 0.25em;
                        }
                    }
                    & .toggle {
                        display: inline-block;
                        position: relative;
                        top: -1.0em;
                    }
                    & .number {
                        display: flex;
                        width: 10em;
                        margin: 0.25em auto;
                        height: 1.5em;
                        & .number {
                            margin: 0;
                            flex-grow: 1;
                            text-align: left;
                        }

                        & i {
                            cursor: pointer;
                            &:hover {
                                color: rgba(0,0,0,0.54);
                            }
                        }
                    }
                    & .numpad {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: auto;
                        font-size: 1.25em;
                        width: 8.0em;
                        text-align: center;
                        & .num {
                            width: 2.0em;
                            padding: 0.25em;
                            margin: 0.2em;
                            border-radius: 0.1em;
                            box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                            cursor: pointer;
                            &:hover {
                                box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
                            }
                        }
                    }
                }
            }
        }

        & .footer {
            padding: 0.5em;
            color: rgba(0,0,0,0.54);
        }
    }
}
