/*==============================*\
|| Shared Global SASS Variables ||
\*==============================*/

$primary-color: #009688;
$success: #4CAF50;
$error: #F44336;
$pending: #FF9800;
$neutral: #797979;
