<div class="home">
    <div class="main-body">
        <div class="content">
            <div class="content-box">
                <div class="">
                    <h2>Example App</h2>
                    <p>
                        Below is a list of devices in the system specified and their power status.<br>
                        The power switch will be greyed out if a device is not connected.
                    </p>
                    <div class="null-system" *ngIf="!system_list||system_list.length<=0">
                        <div class="system" *ngFor="let key of system_data['sys-B0'] | keys">
                            <div class="module" *ngFor="let item of key.value; let i = index">
                                <div class="name">{{key.key}} {{i+1}}:</div>
                                <div class="status"><toggle type="text" [(state)]="item.power" active="On" inactive="Off" [disabled]="!item.connected"></toggle></div>
                            </div>
                        </div>
                    </div>
                    <div class="valid-system" *ngIf="system_list&&system_list.length>0">
                        <div class="options">
                            <select class="sys-select" [(ngModel)]="sys_index" (ngModelChange)="loadModules($event)">
                                <option value="-1">==== Select System ====</option>
                                <option *ngFor="let sys of system_list; let i = index" [value]="i">{{sys.name}}</option>
                            </select><br><br>
                            <select *ngIf="sys_index&&sys_index!==''&&sys_index!='-1'&&!loading&&dev_list&&dev_list.length > 0" class="mod-select" [(ngModel)]="mod_index" (ngModelChange)="loadDevice($event)">
                                <option value="-1">==== Select Module ====</option>
                                <option *ngFor="let mod of dev_list; let i = index" [value]="i">{{mod}}</option>
                            </select>
                            <div class="info" *ngIf="sys_index&&sys_index!==''&&sys_index!=='-1'&&loading">
                                <spinner type="dot-bounce" color="rgba(0,0,0, 0.24)"></spinner><br>
                                Loading devices for system...
                            </div>
                            <div class="info" *ngIf="sys_index&&sys_index!==''&&sys_index!=='-1'&&!loading&&dev_list.length <= 0">
                                <i class="material-icons">close</i><br>
                                No devices in system "{{system_list[sys_index].name}}"
                            </div>
                            <div class="info" *ngIf="mod_index&&mod_index!==''&&mod_index!=='-1'&&loading_mod">
                                <spinner type="dot-bounce" color="rgba(0,0,0, 0.24)"></spinner><br>
                                Loading device...
                            </div>
                            <div class="info" *ngIf="mod_index&&mod_index!==''&&mod_index!=='-1'&&!loading_mod&&!device">
                                <i class="material-icons">close</i><br>
                                No details found for device "{{dev_list[mod_index]}}"
                            </div>
                        </div>
                        <div class="module device" *ngIf="device">
                            <div class="filler"></div>
                            <div class="item status"><div class="circle" [class.on]="device.connected"></div> {{device.connected ? 'Connected' : 'Disconnected'}}</div><br>
                            <div class="item status">
                                <div style="display:none;"
                                    binding [(value)]="device.power" [sys]="system.id" [mod]="device.module" [index]="device.index" bind="power" exec="" [params]="{ power: device.power }"
                                ></div>
                                <div class="name">Power:</div>
                                <div class="status"><toggle type="text" [(state)]="device.power" active="On" inactive="Off" [disabled]="!device.connected"></toggle></div>
                            </div>
                            <div class="filler"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="">
                    A more complex example can be reached by clicking the button below<br>
                    <btn btnType="raised" color="teal" (onClick)="navigate('complex')">Complex Example</btn>
                </div>
            </div>
        </div>
        <div class="footer">
            Copyright&copy; 2016 Advanced Control &amp; Acoustic Pty Ltd. All Rights Reserved.
        </div>
    </div>
    <div class="topbar">
        <div class="logo" [style.background-image]="'url('+image+')'" (click)="navigate('')"></div>
        <div class="heading">{{title}}</div>
    </div>
</div>
