
@import 'ui-vars';

div.home {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    text-align: center;
    & .start-overlay {
        position: fixed;
        top: 0; left: 0;
        right: 0; bottom: 0;
        background-color: $primary-color;
        color: #FFFFFF;
        cursor: pointer;
        & .start-block {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            & h2 {
                font-size: 2.5em;
                margin: 0;
            }
            & p {
                font-size: 1.5em;
            }
        }
    }
    & .topbar {
        position: absolute;
        top: 0; height: 4.0em;
        left: 0; right: 0;
        background-color: $primary-color;
        color: #FFFFFF;
        display: flex;
        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
        user-select: none;
        & .logo {
            height: 3.0em;
            width: 8.0em;
            margin: 0.5em;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        & .heading {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
        }
        & .options {
            flex-grow: 1;
            text-align: right;
            font-size: 2.0em;
            padding: 0.35em;
            & .material-icons{
                cursor: pointer;
                &:hover {
                    color: rgba(255,255,255,0.54);
                }
            }
        }
    }

    & .device-menu {
        position: absolute;
        top: -100%;
        right: 0;
        background-color: #FFFFFF;
        border-radius: 0 0 0.1em 0.1em;
        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
        display: inline-block;
        text-align: left;
        overflow: auto;
        & ul {
            list-style: none;
            padding: 0.25em 0;
            margin: 0;
            font-size: 1.5em;
            & li {
                padding: 0.25em 1.0em;
                height: 2.0em;
                cursor: pointer;
                user-select: none;
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
                &:active {
                    background-color: rgba(0,0,0,0.2);
                    box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                    color: rgba(0,0,0,0.87);
                }
                & .material-icons {
                    font-size: 1.2em;
                }
                & strong {
                    position: relative;
                    top: -0.2em;
                }
            }
        }
    }

    & .main-body {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        padding-top: 4.0em;
        background-color: rgba(0,0,0,0.1);
        overflow: auto;
        & .content {
            padding: 1.5em;
            & .content-box {
                min-width: 20.0em;
                max-width: 100%;
                min-height: 18.0em;
                background-color: #FFFFFF;
                padding: 0.5em;
                border-radius: 0.1em;
                box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                & .module {
                    text-align: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & div {
                        min-width: 8.0em;
                    }
                }
            }
        }

        & .footer {
            padding: 0.5em;
            color: rgba(0,0,0,0.54);
        }
    }
}
