// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   11/01/2017 1:31 PM
// @Email:  alex@yuion.net
// @Filename: audio.styles.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 03/02/2017 2:25 PM

@import 'ui-vars';

div.setup {
    padding: 1.0em 0;
    display: flex;
    & .blinds {
        & .display {
            flex-direction: column;
        }
    }
    & .block {
        flex-grow: 1;
        text-align: center;
        max-width: 32.3vw;
        min-height: 62vh;
        border-left: 0.1em solid rgba(0,0,0,0.05);
        padding: 0.5em;
        & .content {
            font-size: 0.8em;
            & .display {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                & div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                & .text {
                    width: 8.0em;
                    height: 1.5em;
                }
                & .status {
                    font-size: 0.8em;
                }
            }
            & .no-content {
                width: 100%;
                padding: 0.8em;
                color: rgba(0,0,0,0.24);
                text-align: center;
                font-size: 1.4em;
                & .icon {
                    display: inline-block;
                    font-size: 6.0em;
                }
            }

            & .fader-list {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                & .fader {
                    flex-grow: 1;
                    & .fade-level {
                        height: 10.0em;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            & .level-list {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-top: 1.0em;
                & .level {
                    margin: 0.5em;
                    width: 15em;
                    padding: 0.25em;
                    height: 2.0em;
                    text-align: center;
                    font-size: 1.3em;
                    border-radius: 0.1em;
                    box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
                    }
                    &:active {
                        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                    }
                    &.active {
                        background-color: $primary-color;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    & .standard {
        border: none !important;
    }
}
